.shopping_list{
	background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.shopping_list_header{
	height: 130px;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
}

.shopping_list_header h1{
	margin: 0;
	top: 35%;
	left: 40%;
	transform: translate(-50%,-50%);
	position: relative;
}
.edit-button{
	top: 35%;
	margin-right: 5px;
	transform: translate(-50%,-50%);
	position: relative;
}
.back-button{
	top: -25%;
	position: relative;
	margin-left: 2%;
}
.back{
	width: 20px !important;
	height: 20px !important;
}
.product_card{
	height: 100px;
	width: 95%;
	background-color: rgb(248, 250, 249);
	display: flex;
	margin: 10px 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 0px;
}
.product_card_img{
	width: 157px;
	background: rgb(231, 229, 229);
	margin: 8px;
}
.product_card_img img{
	width: 100%;
	height: 100%;
	bottom: 0;
}

.product-detail{
	margin-right: 8px;
	display: flex;
	width: 100%;
	align-items: center;
}

.space{
	flex: 1;
}

.price-container{
	justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
	flex-flow: column;
	height: 100%;
}

.price-container h4{
	margin-top: 15px;
	margin-bottom: 0 !important;
}

.price{
	color: #fb0505;
	font-weight: bold;
	padding-bottom: 5px;
	margin: 0 !important;
}

.price-per-unit{
	padding-bottom: 10px;
	margin: 0 !important;
}

.quantity{
	width: fit-content;
	height: fit-content;
	display: flex;
}

.quantity h4{
	margin-right: 10px;
}

.button-container{
	text-align: center;
	border-radius: 15px;
	box-shadow: 1px 1px 4px 0px;
}

.button-container h3{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	width: 23px;

}

.plus{
	border-bottom: 1.3px solid lightgrey;
	height: 35px;
}
.minus{
	height: 35px;
}

.card-container{
	background-color: #fff;
	padding-top: 15px;
	border-radius: 30px;
	padding-bottom: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 80px;
}

.collabs-container{
	margin: 5px;
	display: flex;
	align-items: center;
}

.collabs{
	box-shadow: 1px 1px 4px 0px;
	margin-right: 5px;
	border-radius:20px; 
}

.collabs-detail{
	display: flex;
	margin: 5px 20px;
}

.add-collab{
	padding-right: 20px
}

.user-plus{
	color: cyan;
}

.collab-close{
	margin: 0 10px 0px;
}

.category-container{
	margin: 5px;
	display: flex;
    align-items: center;
}

.trash{
	color: rgb(190, 187, 187);
	margin-right: 5px;
}

.empty{
	display: flex;
	align-items: center;
	padding-right: 20px;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
	.shopping_list_checkout{
		width: 100% !important;
	}
}
.shopping_list_checkout{
	height: 80px;
	width: 350px;
	background-color: white;
	box-shadow: 1px 1px 8px 0px lightgray;
	position: fixed;
	bottom: 0;
}
.shopping_list_checkout_btn{
	height: 100%;
}
.checkout_btn{
	border-radius: 26px;
  height: 46px;
	width: 123px;
	text-align: center;
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: relative;
}
.checkout_btn h4{
	color: white;
	border: 0;
	padding: 0;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: relative;
}
.GST{
	color: gray;
	font-size: 11px;
}
.shopping_list_checkout_sum h2{
	border: 0;
	padding: 0;
	margin: 0;
}
.shopping_list_checkout_sum p{
	border: 0;
	padding: 0;
	margin: 0;
}